:root {
  --foreground: #000;
  --background: #fff9f0;
  --primary: #007f72;
  --secondary: #661aff;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  color: var(--foreground);
  background-color: var(--background);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #fff;
    --background: #121326;
    --primary: #4bb7ac;
    --secondary: #ffbb57;
  }
}
